<app-slidebar></app-slidebar>
<table class="table table-striped" id="users_table">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Number of Courses</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><img src="https://cdn-icons-png.flaticon.com/512/4086/4086679.png" width="30px" height="30px"></th>
        <td>Moutia</td>
        <td>moutiagmail.com</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row"><img src="https://cdn-icons-png.flaticon.com/512/4086/4086679.png" width="30px" height="30px"></th>
        <td>Moutia</td>
        <td>moutiagmail.com</td>
        <td>3</td>
      </tr>
    </tbody>
  </table>