.options{
    position: fixed;
    margin-left: 80%;
    margin-top: 0%;
    z-index: 99999999999;
}
.options ul{
    list-style-type: none;
    width: 120px;
    text-align: center;
}
.options ul li {
    margin-bottom: 3px;
    background-color: rgb(228, 228, 228);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
.options ul li:hover{
    background-color: rgb(200, 200, 200);
}
.header_img{
    cursor: pointer;
}