<app-slidebar></app-slidebar>
<div class="inputs_settings">
    <h3>Settings :</h3>
    <div class="input_option">
        <h3 id="option_name">change your Name :</h3>
        <input type="text" placeholder="Name" id="option_input">
    </div>
    <div class="input_option">
        <h3 id="option_name">change your E-mail :</h3>
        <input type="text" placeholder="Email" id="option_input">
    </div>
    <div class="input_option">
        <h3 id="option_name">change your Password :</h3>
        <input type="password" placeholder="new password" id="option_input">
    </div>
    <div class="input_option">
        <h3 id="option_name">confirm your Password :</h3>
        <input type="password" placeholder="confirm password" id="option_input">
    </div>
    <button class="add_course_btn">add course</button>
</div>